/* CSS variables */
:root {
    --lightOrange: #FFAF1C;
}

/* Elements */
h1 {
    font-family: 'Dancing Script', cursive;
}

/* Classes */
.header {
    background-image: url('../images/main_page_image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.header-desc {
    position: absolute;
    z-index: 2;
    left: 52%;
    top: 35%;
    transform: translate(-50%, -55%);
}

.p-desc {
    font-size: 1.5rem;
    line-height: 1.5;
}

.custom-btn {
    background-color: var(--lightOrange);
    font-weight: bold;
    font-style: italic;
    /* background-color:#a03e2c; */
}

.search-info {
    background-color: black;
}

.carousel-img{
    height:400px;
    object-fit:cover;
    border-radius:2%;
}

.comment-input {
    height: 20px;

}

/* rating css */
.rating {
    /* width: 180px; */
    height: 37px;
    background-color: black;
    display: flex;
    color: white;
    align-items: baseline;
  }
  
  .rating__star {
    cursor: pointer;
    color: var(--lightOrange);
  }

  h5 {
    padding-right: 25px;
  }
  
  /* Form Validation */
  .error-message{
    color:red;
    padding-left: 20px;
} 
.error-hide{
    display:none;
} 

/* Form Validation */
input {
    border: none;
}

.form-control i {
    visibility: hidden;
}

.form-control div {
    visibility: hidden;
}

.form-control.success {
    border-color: green;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: green;
}

.form-control.success div.acceptable {
    visibility: visible;
    color: white;
    margin-top: 2px;
    font-size: 13px;
}

.form-control.error {
    border-color: red;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.form-control.error div.invalid {
    visibility: visible;
    color: red;
    margin-top: 2px;
    font-size: 13px;
}