/* CSS variables */
:root {
    --lightOrange: #FFAF1C;
}

/* Elements */
h1,
h2 {
    font-family: 'Dancing Script', cursive;
}

img {
    max-height: 400px;
    max-width:250px;
    /* padding-left: 15px; */
    border: 5px solid var(--lightOrange);
    border-radius: 2%;
}

/* Classes */
.header {
    background-image: url('../images/main_page_image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.header-desc {
    position: absolute;
    z-index: 2;
    left: 52%;
    top: 35%;
    transform: translate(-50%, -55%);
}

.p-desc {
    font-size: 1.5rem;
    line-height: 1.5;
}

.custom-btn {
    background-color: var(--lightOrange);
    font-weight: bold;
    font-style: italic;
}

.log-reviews {
    /* background-color:#C76B57; */
    background-color:#A82810;
    opacity: 0.8;
}

.h-log-reviews {
    font-size: 3rem;
}

.log-review-form {
    max-width: 100%;
    background-color:#B85128; 
    width: 400px;
    border-radius: 1%;
    z-index: 2;
    /* position: relative; */
}

.search-info {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    /* opacity: 0.8; */
    /* border:1px solid; */
    /* background: rgba(0, 0, 0, 0.3); */
}

.overlay-reviews {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* .logiDiv--blur {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(2px);
    transform: scale(1.2);
  }
  
  /* The Transformation */
  /* .logiDiv--blur:hover{
    filter: blur(0);
    transform: scale(1);
  } */

/* .card-column {
    overflow:hidden;
} */

.logDiv {
    /* width:50%; */
    border: 5px solid var(--lightOrange);
    border-radius:5%;
    /* transition: transform .5s ease; */
}

/* .logDiv:hover {
        /* box-shadow: 0 8px 17px 0 rgb(207, 143, 22), 0 6px 20px 0 rgba(241, 203, 31, 0.952);
        transition: all .55s ease-in-out; 
        transform: scale(1.5);
      } */


.card-display {
    background-image: url('../images/foodPlatter.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.card-header {
    background-color: #DF362D;
    color:white;
}

/* Id's */
#card-reviews {
    width:100%;
}
.comment-input {
    height: 20px;

}

/* rating css */
.rating {
    /* width: 180px; */
    height: 37px;
    /* background-color: black; */
    display: flex;
    /* color: white; */
    align-items: baseline;
  }
  
  .rating__star {
    cursor: pointer;
    color: var(--lightOrange);
  }

  h5 {
    padding-right: 25px;
  }
  


/* Form Validation */
input {
    border: none;
}

.form-control i {
    visibility: hidden;
}

.form-control div {
    display: none;
}

.form-control.success {
    border: solid 2px var(--lightOrange);
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: var(--lightOrange);
}

.form-control.success div.acceptable {
    display: flex;
    color: var(--lightOrange);
    margin-top: 2px;
    font-size: 13px;
}

.form-control.error {
    border: solid 2px black;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.form-control.error div.invalid {
    display: flex;
    color: black;
    margin-top: 2px;
    font-size: 13px;
}
